# Backend Environment Variables
PORT=4000
DATABASE_URL="postgresql://neondb_owner:npg_Jm4PAe8yBXgc@ep-tiny-rice-atrmwk1j-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="kanban-super-secret-key-2026"
FRONTEND_URL="http://localhost:3000"
